# This workflow will build a package using Maven

name: Build Spring Boot App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'corretto'

    - name: Build with Maven
      run: mvn -B package --file server/pom.xml
      
    - name: Run tests with Maven
      run: mvn test

    - name: Archive production build
      uses: actions/upload-artifact@v2
      with:
        name: jar
        path: ./server/target/*.jar

